.footer {
  background: #e9ded4;
  max-height: 150px;
}

.footer__inner {
  padding: 40px 72px 72px 72px;
}
.footer__inner p {
  color: #313131;
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  opacity: 0.6;
}

@media (max-width: 425px) {
    .footer {
        min-height: 252px;
      }
      .footer__inner {
        padding: 40px 20px 60px 20px;
      }
      .footer__inner p {
        font-family: "Golos Text";
        font-weight: 400;
        opacity: 0.6;
      }
}