.lecture__inner {
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 45px;
  table-layout: auto; /* Используем автоматическое распределение ширины */
  padding-top: 5px;
}

td {
  padding: 0; /* Убираем padding по умолчанию */
  border: none; /* Убираем границы по умолчанию */
  box-sizing: border-box;
}

tr:not(:last-child) td {
  border-bottom: 2px solid #D0D0D0;
}

td:not(:last-child) {
  border-right: 2px solid #D0D0D0;
}

td:nth-child(1) {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.7;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-right: 20px;
  white-space: nowrap; /* Запрещаем перенос строк */
  width: auto; /* Устанавливаем ширину по содержимому */
}

td:nth-child(2) {
  font-family: "Golos Text", serif;
  font-weight: 600;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
  white-space: nowrap; /* Запрещаем перенос строк */
  width: 100%; /* Занимаем оставшееся пространство */
}

td * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


.lecture__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lecture__content {
  width: 764px;
  height: 195px;
  margin-top: 109px;
}
.lecture__title {
  color: #313131;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}
.lecture__subtitle {
  color: #f54932;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
}

.lecture__image-wrapper {
  max-width: 394px;
  max-height: 250px;
}

.lecture__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 53px;
}

.lecture__event {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.lecture__event-image-wrapper {
  max-width: 528px;
  flex: 1;
  /* min-width: 300px; */
  margin-top: 44px;
  margin-left: -27px;
}
.lecture__event-details {
  flex: 1;
  /* min-width: 300px; */
  padding-left: 18px;
}
.lecture__event-image {
  width: 100%;
  height: 100%;
}

.lecture__event-title {
  padding-top: 91px;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
}
.lecture__event-title--highlight {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  color: #313131;
}

.lecture__event-title--default {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  color: #f54932;
  max-width: 704px;
}



.lecture__event-note {
  margin-top: 30px;
  color: #3057a2;
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .lecture__event {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .lecture__event-details {
    flex: 1;
    max-width: 700px;
    padding-left: 18px;
  }
}
@media (max-width: 375px) {

  table {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
        padding-left: 5px;
  }
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  td {
    flex-basis: 100%;
    padding: 10px;
  }

  tr:not(:last-child) td {
    border-bottom: none;
  }
  td:not(:last-child) {
    border-right: none;
  }
  tr:not(:last-child) {
    border-bottom: 2px solid #D0D0D0;
  }

  tr:nth-child(1) td:nth-child(1) {
    /* стили для первого элемента <td> в 1 ряде */
    padding: 2px 0px 8px 15px;
  }
  
  tr:nth-child(1) td:nth-child(2) {
    /* стили для второго элемента <td> в 1 ряде */
    padding: 4px 0px 15px 15px;
  }

  tr:nth-child(2) td:nth-child(1) {
    /* стили для первого элемента <td> в 2 ряде */
    padding: 14px 0px 8px 15px;
  }
  tr:nth-child(2) td:nth-child(2) {
    /* стили для второго элемента <td> в 2 ряде */
    padding: 4px 0px 15px 15px;
  }
  tr:nth-child(3) td:nth-child(1) {
    /* стили для первого элемента <td> в 3 ряде */
    padding: 14px 0px 8px 15px;
  }
  tr:nth-child(3) td:nth-child(2) {
    /* стили для второго элемента <td> в 3 ряде */
    padding: 4px 0px 15px 15px;
  }
  tr:nth-child(4) {
    flex-wrap: nowrap;
  }
  tr:nth-child(4) td:nth-child(1) {
    /* стили для первого элемента <td> в 4 ряде */
    padding: 16px 0px 0px 15px;
  }
  tr:nth-child(4) td:nth-child(2) {
    /* стили для второго элемента <td> в 4 ряде */
    padding: 16px 0px 15px 0px;
  }
  tr:nth-child(5) td:nth-child(1) {
    /* стили для первого элемента <td> в 5 ряде */
    padding: 14px 0px 8px 15px;
  }
  tr:nth-child(5) td:nth-child(2) {
    /* стили для второго элемента <td> в 5 ряде */
    padding: 5px 0px 15px 15px;
  }


  .lecture__wrap {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }

  .lecture__content {
    width: 340px;
    margin-top: 48px;
    padding-left: 20px;
  }

  .lecture__title,
  .lecture__title-subtitle {
    font-size: 28px;
    color: #313131;
    font-family: "Merriweather";
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
  }

  .lecture__inner {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lecture__image-wrapper {
    width: 335px;
    height: 215px;
  }
  .lecture__image {
    margin-top: 23px;
  }
  .lecture__title-subtitle {
    margin-top: 48px;
  }

  .lecture__subtitle {
    margin-top: 2px;
    font-size: 28px;
    padding-left: 2px;
  }
  .lecture__event {
    /* flex-direction: column; */
    align-items:flex-start;
    /* justify-content: space-between; */
    margin-top: 355px;
  }

  .lecture__event-image-wrapper {
    width: 370px;
    height: 407px;
    margin-left: 2px;
    margin-top: 40px;
  }

  .lecture__event-details {
    padding-left: 0px;
  }
  .lecture__event-br {
    display: none;
  }

  .lecture__event-title {
    padding-top: 0px;
    width: 315px;
    font-size: 28px;
    margin-right: 0px;
    padding-left: 20px;
    margin-top: 11px;
  }

  .table-wrapper {
    display: block;
    margin-top: 45px;
  }

  .lecture__column-left {
    padding-left: 20px;
    width: 100%;
    line-height: 152%;
  }

  .lecture__event-note {
    margin-top: 25px;
    padding-left: 20px;
  }
}
