@import "./reset.css";
@import "./fonts.css";
@import "./running_line.css";
@import "./lecture.css";
@import "./transformation-stages.css";
@import "./tournament-participants.css";
@import "./footer.css";

html,
body {
  height: 100%;
}

body {
  color: #313131;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.main {
  flex-grow: 1;
}

.stop-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  padding-top: 26px;
  height: 700px;
}
.header__background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero__logo {
  position: absolute;
  top: 24px;
}
.header__wrapper {
  padding-top: 62px;
  max-width: 542px;
}
.header__title {
  font-family: "Merriweather";
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
}
.header__title span {
  text-align: center;
  display: inline-block;
}
.header__text {
  text-align: center;
  margin-top: 24px;
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  line-height: 130%;
}
.header__box {
  margin-top: 37px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.header__button {
  max-width: 263px;
  width: 100%;
  padding: 20px 49px;
  text-align: center;
  display: inline-block;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  line-height: 130%;
  border-radius: 66px;
  border: 2px solid #1f1f1f;
  color: white;
  background-color: #1f1f1f;
}
.header__button_color {
  color: #1f1f1f;
  background: none;
}

.header__button:hover {
  cursor: pointer;
  background-color: #fbce51;
  color: #1f1f1f;
}

.header__button_color:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  color: #fff;
}

.break-line {
  display: inline;
}
.header__background_mobile {
  display: none;
}
@media (max-width: 375px) {
  .header {
    height: 810px;
    position: relative;
  }

  .main {
    position: relative;
    z-index: 1;
  }

  .running-line-top {
    position: absolute;
    top: -84px;
    left: 0;
    max-width: 375px;
    z-index: 2;
  }

  .header__background_mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .header__wrapper {
    padding-top: 30px;
  }
  .header__background {
    display: none;
  }
  .break-line {
    display: none;
  }
  .header__title {
    font-size: 36px;
  }

  .header__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__box {
    margin-top: 29px;
  }
  .header__button {
    max-width: 335px;
    padding: 12px 18px;
  }

  /* .hero__logo {
    left: 20px;
    top: 19px;
    width: 211px;
    height: auto;
  }

  .hero__content {
    padding-top: 91px;
    max-width: 335px;
  }
  .hero__headline {
    width: 335px;
  }
  .hero__headline p {
    font-size: 36px;
    letter-spacing: 0.2px;
  }

  .hero__text {
    width: 335px;
    font-size: 18px;
    margin-top: 25px;
    text-align: start;
  }

  .hero__buttons {
    margin-top: 30px;
    width: 335px;
  }

  .hero__button {
    font-size: 14px;
    width: 100%;
    padding: 13px;
    letter-spacing: 2px;
  }

  .header__button {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .header__button_color {
    width: 100%;
  } */
}
