.stages__inner {
  margin-top: 166px;
  margin-left: 72px;
  margin-right: 72px;
}

.stages__name,
.stages__title,
.stages__subtitle {
  color: #313131;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
}

.stages__subtitle {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 18px;
  color: #3057a2;
  text-decoration: none;
  line-height: 138%;
  margin-left: 20px;
  text-transform: none;
}

.stages__subtitle-wrap {
  display: flex;
  align-items: center;
}

.carousel {
  padding-top: 54px;
  position: relative;
}
.stages__list_desctop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1300px;
  margin: auto;
  list-style: none;
  padding: 0;
}

.stages__item {
  background-image: url("../../public/images/background-slide.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 18px 20px 20px 70px;
  position: relative;
}

.stages__item--span-rows {
  grid-row: span 2;
}

.stages__item--span-cols {
  grid-column: span 2;
}

.stages__airplane {
  position: absolute;
  right: -42px;
  bottom: 23px;
}

.stages__list_desctop li {
  color: #313131;
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}


.stage-number {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 21px;
  font-weight: bold;
  color: #333;
}


.carousel__controls {
  display: none;
}
.break-line-subtitle {
  display: inline;
}

.stages__airplane-mobile {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 87px;
}


@media (max-width: 1024px) {
  .stages__airplane-desctop {
    display: none;
  }
}

@media (max-width: 768px) {

  .stages__inner {
    margin-left: 35px;
  }
  .carousel {
    padding-top: 200px;
    width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stages__item {
    padding-top: 60px;
    width: 700px;
    height: 320px;
  }
  .carousel__controls {
    display: flex;
    margin-top: 10px;
  }
  .carousel__indicators {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .carousel__indicator {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .carousel__indicator.active {
    background-color: #313131;
  }

  .prev-button,
  .next-button {
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
  }

  .slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
  } 
  .stages__airplane {
    right: -50px;
    top: 30px;
}
}
@media (max-width: 425px) {
  

  .stages__list_mobile {
    display: grid;
  }

  .stages__airplane {
    display: block;
    right: 12px;
    top: 15px;
  }
  .carousel__controls {
    display: block;
  }
  .break-line-subtitle {
    display: none;
  }

  .stages-img {
    position: absolute;
    top: 0;
  }

  .carousel {
    padding-top: 144px;
    width: 340px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stages__item {
    padding-top: 60px;
    width: 340px;
    height: 320px;
  }

  .carousel__controls {
    display: flex;
    margin-top: 7px;
  }
  .prev-button,
  .next-button {
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
  }

   .slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
  } 

  .carousel__indicators {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .carousel__indicator {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .carousel__indicator.active {
    background-color: #313131;
  }

  .stages__inner {
    padding-left: 21px;
    padding-right: 16px;
    margin-top: 114px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .stages__name,
  .stages__title {
    font-size: 36px;
  }

  .stages__name {
    margin-top: -3px;
  }
  .stages__subtitle {
    margin-top: 9px;
  }

  .stages__subtitle {
    margin-left: 0;
  }

  .stages__subtitle-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .stage-number {
    position: absolute;
    top: 60px;
    left: 19px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-size: 21px;
    font-weight: bold;
    color: #333;
  }
  .stages__item::before {
    width: 24px;
    height: 24px;
    font-size: 16px;
  }
}
